[Unit]
Description=Open Policy Agent Server
After=network-online.target

[Container]
Image=openpolicyagent/opa
Exec=run --server --addr=0.0.0.0:8181 /policies
ContainerName=opa-server
PublishPort=8181:8181
Pull=never
Volume=/etc/opa/policies:/policies:ro

[Install]
WantedBy=multi-user.target