[Unit]
Description=Open Policy Agent
After=network.target
StartLimitInterval=60
StartLimitBurst=4

[Service]
ExecStart=/usr/local/bin/opa run --server --addr=0.0.0.0:8181 --log-level=info /etc/opa/policies

RuntimeDirectory=opa
WorkingDirectory=/etc/opa/policies

Restart=always
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target