[Unit]
Description=Open Policy Agent Server
After=network-online.target

[Container]
Image=docker.io/openpolicyagent/opa
Exec=run --server --log-level=info /policies
ContainerName=opa
PublishPort=8181:8181
Pull=always
Volume=/etc/opa/policies:/policies:rw,Z

[Install]
WantedBy=multi-user.target